* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #333;
}

.container {
    width: 450px;
    height: 500px;
    /* border: 1px solid #c3c3c3; */
    border-radius: 5px;
    margin: 10px auto;
}

.header {
    text-align: center;
    margin-top: 10px;
}

#filter {
    width: 95%;
    margin: 15px 6px 5px;
    border: none;
    border-bottom: 1px solid #bbb;
    padding: 5px;
    font-size: 14px;
    color: #3c3c3c;
}

#filter:hover {
    border: none;
    border-bottom: 2px solid lightseagreen;
    width: 98%;
}

#contact {
    /* border: 1px solid #c7c7c7; */
    width: 98%;
    border-radius: 4px;
    margin: 1px;
    padding: 5px;
}

#contact li {
    /* visibility: visible; */
    border: 1px #eee solid;
    padding: 8px;
    border-radius: 5px;
    list-style: none;
}

#contact a {
    text-decoration: none;
}

.listHeader h3 {
    color: lightskyblue;
    font-size: 20px;
}

li:hover {
    padding: 9px;
    background-color: #fbfbfb;
}

li a:hover {
    font-weight: bold;
}

.hidden {
    display: none;
}